.calculator {
    width: 100%;
    padding: 8rem 0;
    background-color: var(--background);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
    /* border: 2px solid; */
    display: flex;
    align-items: center;
}

.calc-text {
    /* border: 2px solid red; */
    margin: 1rem;
    width: 50%;
    margin-left: 5rem;
    
}

.calc-text p {
    width: 50%;
}
.calc-text h1 {
    font-size: 40px;
}

@media screen and (max-width: 940px) {
    .calculator {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 8rem 2.5rem;
    }
}


@media screen and (max-width: 478px) {
    .calc-text .calc .calc-in{
        width: 100%;

    }
}

.calc .calc-in {
    /* border: 2px solid blue; */
    
}