.footer{
    background-color: #222;
    padding:4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }
  
  .footer_comp>h1{
    font-size:1.5rem;
    font-weight:bold;
    color: #ccc; 
    margin-bottom: 16px;
  }
  .footer_comp>p{
    font-size:1rem;
    font-weight:400;
    color: #789; 
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .footer_comp>p:hover{
    color: #ccc;
  }
  .copyright{
    font-size:0.8rem;
    color: #ccc;
    text-align: center;
    background-color: #222;
  }
  .hr{
    width: 100vw;
    color: white;
    height: 1px;
  }