

.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 242, 242);
    box-shadow: inset 0 0 0 1px rgba(131, 129, 129, 0.1);
  }
  
  .logo_header{
    width: 10%;
    height: 100%;
    text-align: center;
    display: flex;
    /* border: 1px red solid; */
  }
  
  .logo_header img{
    align-self: center;
    /* border: 1px blue solid; */
    width: 90%;
  }
  
  .link_header{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin-right: 5px; */
    /* border: 1px red solid; */
  }
  
  .link_header a{
    color: black;
    text-decoration: none;
    margin: 1.3%;
  }
  
  .login_header{
    width: 25%;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
    /* border: 1px red solid; */
      color: rgb(7, 7, 7);
    }
  
  
    
    .link_header a,.func h3{
      /* margin-left: 16px; */
      font-weight:550;
      font-size:0.9rem;
      cursor: pointer;
    }
    .link_header a:hover ,.func h3 :hover{
      color: #dea30d
    }
    
    
    .yellow_button{
      background-color: #dea30d;
      padding:10px 12px 10px 12px;
      color: rgb(12, 12, 12);
      outline-width: 0px;
      border-width: 0px;
      border-radius: 8px;
      /* margin-left: 16px; */
      cursor: pointer;
    }
    
    .grey_button{
      background-color: transparent;
    }
    
    .func h3:hover, .right_header a:hover{
      color: #dea30d;
    }
    a,ul{
      text-decoration: none;
      color: rgb(16, 15, 15);
      font-size: 0.9rem;
      list-style: none;
    } 
  
    .func{
        /* border: 2px solid; */
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
    }
    .func h3{
      margin: 1%;
    }
    .func>h3{
      margin-right: 3%;
    }
  
    .announcement{
      background-color: rgb(246, 242, 242);
      box-shadow: 1px 0 0 0 rgba(131, 129, 129, 0.1);
    }