/* body{
    width: 100vw;
} */
.topBand{
    width: 100%;
    /* border: 2px solid; */
    height: 5vh;
    background-color: #febe28;
    display: flex;
    flex-direction: row;
    /* position: sticky; */
    margin: 0;
}
.topBand_left{
    /* border: 2px solid red; */
    display: flex;
    width:30%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
}

.topBand_right{
    /* border: 2px solid ; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
}
.fa{
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
}
.ap{
    color: aliceblue;
}
.fb{
    color: #3b5998;
}
.ad{
    color: rgb(10, 200, 10);
}
.yt{
    color: #f4250a;
}
.ins{
    color: #e1306c;
}
.tg{
    color: #0088cc;
}
.div{
    height: 40%;
    background-color: rgb(79, 78, 78);
    width: 1px;
}
.fa:hover{
    color: black;
}